@import "tailwindcss";

:root {
  --background: #f8f1d7;
  --foreground: #373435;
  --color-bg: #c0ae8a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-weight: 300;
  font-size: larger;
}

h1,
h2 {
  letter-spacing: 1.5px;
}

header,
footer {
  background-color: var(--color-bg);
  font-weight: 400;
  font-size: x-large;
}

.button-send {
  background-color: var(--foreground);
  /* couleur par défaut */
  color: white;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.button-send:hover {
  cursor: pointer;
  color: var(--foreground);
  background-color: var(--color-bg);
}

a:hover {
  color: #eee;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.contact-a:hover {
  color: darksalmon;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.text-align-center {
  text-align: center;
}

.fds-big {
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.7));
}

.fds-super-small {
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.6));
}

.fds-small {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
}

.fds-small-str {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 1));
}

.separator {
  height: 200px;
  background-color: var(--color-bg);
}

.accueil-container-title {
  position: absolute;
  left: 5%;
  top: 100px;
  width: 90%;
  height: 500px;
  color: #373435;
  /* text-shadow: 2px 2px 4px black; */
  /* background-color: rgba(255,255,255,0.6); */
  /* background-image: url('/public/place-bourse-photo.jpg'); */
  text-align: justify;
  text-transform: uppercase;
}

.bloc-accueil {
  background-color: var(--color-bg);
  color: #373435;
  /* color: white; */
  /* text-shadow: 2px 2px 4px black; */
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.to-uppercase {
  text-transform: uppercase;
}

.mx-perso {
  margin-left: 20%;
  margin-right: 20%;
}

p {
  font-size: 20px;
}

li {
  margin: 1rem 0;
}

.font-italic {
  font-style: italic;
}

.custom-list li {
  list-style: none;
  /* enlève les puces par défaut */
  position: relative;
  padding-left: 1rem;
  /* espace pour le point */
  margin: 1rem 0;
}

.custom-list li::before {
  content: "•";
  /* le point */
  color: var(--foreground);
  /* couleur du point */
  font-size: 20px;
  /* taille du point */
  line-height: 1;
  margin-right: 1rem;
}

@media (max-width: 700px) {

  body,
  p,
  .custom-list {
    font-size: 14px;
  }

  .accueil-container-title {
    display: flex;
    position: unset;
    width: 100%;
    /* color: white; */
    /* text-shadow: 2px 2px 4px black; */
    /* background-color: rgba(255,255,255,0.6); */
    /* background-image: url('/public/place-bourse-photo.jpg'); */

  }

  h1,
  h2, .text-2xl {
    font-size: 18px;
  }

  .title-bloc-accueil {
    text-align: center;
  }

  .mx-perso {

    margin-left: 5%;
    margin-right: 5%;
  }

  footer {
    display: none;
  }
}

@media (max-width: 1280px) {

  body,
  p,
  .custom-list {
    font-size: 18px;
  }

  h1,
  h2 {
    font-size: 22px;
  }

  .mx-perso {
    margin-left: 10%;
    margin-right: 10%;
  }

}